footer{
    text-align: center;
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}