<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CabBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/driverlogin" style="color: white; font-weight: 600;">Driver</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="main1">
        <div class="main2">
            <div class="content p-3" style="width: 100%;">
                <h3>Password successfully reset.</h3>
                <a routerLink="/userlogin">Click here to login</a>
            </div>
        </div>
    </div>
</div>
<footer style="position: fixed;bottom: 0;">
    <span>&copy;CabBooking. All rights reserved.</span>
</footer>

