<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CabBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/userbookhistory" style="color: white;">My Bookings</a>
            </li>
        </ul>
        <span>
           
        </span>
        <span>
            <a routerLink="/" style="color: white;"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i> Logout</a>
        </span>
      </div>
    </div>
</nav>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Source Location</th>
        <th scope="col">Destination Location</th>
        <th scope="col">Car Size</th>
        <th scope="col">Car Model</th>
        <th scope="col">Fare</th>
        <th scope="col">Accept/Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let c of userdetails">
        <td>c.source</td>
        <td>c.destination</td>
        <td>c.carsize</td>
        <td>c.carmodel</td>
        <td>c.fare</td>
        <td>c.status</td>
      </tr>
    </tbody>
  </table>