<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CabBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/driverlogin" style="color: white; font-weight: 600;">Driver</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="main1">
        <div class="main2">
            <div class="content p-3">
                <div class="heading mb-4">
                    <h2 class="fw-semibold">Forget password</h2>
                </div>
                <form #usersigninform="ngForm" (ngSubmit)="OnSubmit(usersigninform)" id="form">
                    <label for="email">User ID</label>
                    <div class=" mb-3">
                        <input class="py-1" #userId="ngModel" [(ngModel)]="userdetails.userId" name="userId"  type="email" id="email" placeholder="Enter User ID" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" >
                        <div class="text-danger" *ngIf= "userId.dirty && userId.errors?.['required']">
                            *UserID is required
                        </div>
                        <div class="text-danger" *ngIf= "userId.dirty && userId.errors?.['pattern']">
                            *Invalid input
                        </div>
                    </div>
                    <label for="password">Password</label>
                    <div class=" mb-3">
                        <div class="pass-input">
                            <input class="py-1" #password="ngModel" [(ngModel)]="userdetails.password" name="password" type="password" id="password" placeholder="Enter your password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" >
                            <div class="text-danger" *ngIf= "password.dirty && password.errors?.['required']">
                                *Password is required
                            </div>
                            <div class="text-danger" *ngIf= "password.dirty && password.errors?.['pattern']">
                                *Invalid input
                            </div>
                        </div>
                    </div>
                    <label for="password">Confirm Password</label>
                    <div class=" mb-3">
                        <div class="pass-input">
                            <input class="py-1" #cpassword="ngModel" [(ngModel)]="userdetails.cpassword" name="cpassword" type="password" id="password" placeholder="Confirm your password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" >
                            <div class="text-danger" *ngIf= "cpassword.dirty && cpassword.errors?.['required']">
                                *Password is required
                            </div>
                            <div class="text-danger" *ngIf= "cpassword.dirty && cpassword.errors?.['pattern']">
                                *Invalid input
                            </div>
                            <div class="text-danger" *ngIf= "cpassword.touched && cpassword.value != password.value">
                                *Password not matched
                            </div>
                        </div>
                    </div>
                    <div class="button d-grid gap-2 mt-4 mb-3">
                        <button class="btn  btn2 btn-dark" id="signin-btn" type="submit">Reset password</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>
<footer style="margin-top: 4rem;">
    <span>&copy;CabBooking. All rights reserved.</span>
</footer>
