<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CabBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white; font-weight: 600;">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/driverlogin" style="color: white; font-weight: 600;">Driver</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="main1">
        <div class="main2">
            <div class="content p-3">
                <div class="heading mb-4">
                    <h2>User Registration</h2>
                </div>
                <form #registerform="ngForm" (ngSubmit)="onSubmit(registerform)" id="form">
                    <div class="firstname mb-3">
                        <label for="firstname">Firstname</label>
                        <input class="py-1" #firstname="ngModel" [(ngModel)]="userdetails.firstname" name="firstname" type="text" placeholder="Enter your Firstname" id="firstname" class="me-2" pattern="[a-zA-Z]{1,32}" required>
                        <div class="text-danger" *ngIf= "firstname.dirty && firstname.errors?.['required']">
                            *Firstname is required
                        </div>
                        <div class="text-danger" *ngIf= "firstname.dirty && firstname.errors?.['pattern']">
                            *Invalid input
                        </div>
                    </div>
                    <div class="lastname mb-3">
                        <label for="lastname">Lastname</label>
                        <input class="py-1" #lastname="ngModel" [(ngModel)]="userdetails.lastname" name="lastname" type="text" placeholder="Enter your Lastname" id="lastname" pattern="[a-zA-Z]{1,32}" required>
                        <div class="text-danger" *ngIf= "lastname.dirty && lastname.errors?.['required']">
                            *Lastname is required
                        </div>
                        <div class="text-danger" *ngIf= "lastname.dirty && lastname.errors?.['pattern']">
                            *Invalid input
                        </div>
                    </div>
                    <div class="signup-mobile mb-3">
                        <label for="signup-mobile">Mobile</label>
                        <input class="py-1" #mobile="ngModel" [(ngModel)]="userdetails.mobile" name="mobile" type="tel" id="signup-mobile" placeholder="Enter your mobile number" pattern="[6-9]{1}[0-9]{9}" required>
                        <div class="text-danger" *ngIf= "mobile.dirty && mobile.errors?.['required']">
                            *Email is required
                        </div>
                        <div class="text-danger" *ngIf= "mobile.dirty && mobile.errors?.['pattern']">
                            *Invalid input
                        </div>
                    </div>
                    <div class="signup-email mb-3">
                        <label for="signup-email">E-mail</label>
                        <input class="py-1" #userId="ngModel" [(ngModel)]="userdetails.userId" name="userId" type="email" id="signup-email" placeholder="Enter your email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required>
                        <div class="text-danger" *ngIf= "userId.dirty && userId.errors?.['required']">
                            *Email is required
                        </div>
                        <div class="text-danger" *ngIf= "userId.dirty && userId.errors?.['pattern']">
                            *Invalid input
                        </div>
                    </div>
                    <div class="signup-password mb-3">
                        <label for="signup-password">Password</label>
                        <input class="py-1 toggle" #password="ngModel" [(ngModel)]="userdetails.password" name="password" type="password" id="signup-password" placeholder="Enter your password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" required>
                        <div class="text-danger" *ngIf= "password.dirty && password.errors?.['required']">
                            *Password is required
                        </div>
                        <div class="text-danger" *ngIf= "password.dirty && password.errors?.['pattern']">
                            *Invalid input
                        </div>
                    </div>
                    <div class="confirm-password mb-3">
                        <label for="confirm-password"> Confirm password</label>
                        <input class="py-1 toggle"  #cpassword="ngModel" [(ngModel)]="userdetails.cpassword" name="password2" type="password" id="confirm-password" placeholder="Confirm your password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" required>
                        <div class="text-danger" *ngIf= "cpassword.dirty && cpassword.errors?.['required']">
                            *Confirm-Password is required
                        </div>
                        <div class="text-danger" *ngIf= "cpassword.dirty && cpassword.errors?.['pattern']">
                            *Invalid input
                        </div>
                        <div class="text-danger" *ngIf= "cpassword.touched && cpassword.value != password.value">
                            *Password not matched
                        </div>
                    </div>
                    <div class="check">
                        <input  type="checkbox" #terms="ngModel" [(ngModel)]="userdetails.terms" name="terms" required><span class="fw-medium"> Terms & Conditions</span>
                        <div class="text-danger" *ngIf= "terms.dirty && terms.errors?.['required']">
                            *Feild is required
                        </div>
                    </div>
                    <div class="button d-grid gap-2 my-3">
                        <button class="btn  btn2 btn-dark" id="signup-btn"  type="submit" >Register</button>
                    </div>
                </form>
                <div class="divider d-flex align-items-center mx-1 my-4">
                    <p class="text-center mx-3 mb-0  text-muted">OR</p>
                </div>

                <div class="button d-grid gap-2 my-3">
                    <a class="link" href="https://myaccount.google.com/?utm_source=sign_in_no_continue&pli=1"><button class="btn btn2  btn-outline-dark" formaction=""><i class="fa-brands fa-google"></i> Register with Google </button></a>
                </div>
                <div class="button d-grid gap-2 my-3">
                    <a class="link" href="https://www.facebook.com/login/"><button class="btn  btn2 btn-outline-dark" formaction=""><i class="fa-brands fa-facebook"></i> Register with Facebook </button></a>
                </div>
                <div class="button d-grid gap-2 my-3">
                    <a class="link" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><button class="btn  btn2 btn-outline-dark" formaction=""><i class="fa-brands fa-twitter"></i> Register with Twitter </button></a>
                </div>
                
            </div>

        </div>
        <div class="account my-4">
            <span>Already have an account? </span> <a routerLink="/userlogin"> Login here</a>
        </div>
        
    </div>  
</div>
<footer>
    <span>&copy;CabBooking. All rights reserved.</span>
</footer>
